@import '../../abstracts/variables';

@mixin flex-direction ($breakpoint) {
  .flex-#{$breakpoint}row {
    flex-direction: row !important;
  }

  .flex-#{$breakpoint}row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-#{$breakpoint}column {
    flex-direction: column !important;
  }

  .flex-#{$breakpoint}column-reverse {
    flex-direction: column-reverse !important;
  }
}

@include flex-direction("");


@media (max-width: ($breakpoint-sm - 1px)) {
  .flex-row-xs {
    flex-direction: row !important;
  }
  .flex-row-reverse-xs {
    flex-direction: row-reverse !important;
  }
  .flex-column-xs {
    flex-direction: column !important;
  }
  .flex-column-reverse-xs {
    flex-direction: column !important;
  }
}

@each $name, $breakpoint in $breakpoints-css-utilities-only {
  @media (min-width: $breakpoint) {
    .flex-row-#{$name} {
      flex-direction: row !important;
    }
    .flex-row-reverse-#{$name} {
      flex-direction: row-reverse !important;
    }
    .flex-column-#{$name} {
      flex-direction: column !important;
    }
    .flex-column-reverse-#{$name} {
      flex-direction: column-reverse !important;
    }
  }
}
